.box3{
    overflow-y: scroll;
}
.box2{
    color: white;
    margin: 0 1rem;
    display: flex;
    overflow-y: scroll;
    overflow-x: auto;
}
.group{
    width: 121rem;
    height: 200rem;
    background-color: rgb(53, 47, 47);
    color: white;
    overflow-x: auto;
    margin:0rem 1rem;
  }

.image2{
    width: 49rem;
    height: 60rem;
    border-radius: 3rem;
}
/* .image2{
    width: 49rem;
    height: 60rem;
} */
.text1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1;
    margin:6rem 5rem;
}

.text2{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 margin: -6rem 5rem;
}
.text3{
    font-family: 'Times New Roman', Times, serif;
    width: 30rem;
    height: 40rem;
    margin: 8rem 5rem;
    font-size: 1rem;
}
.text4{
    color: #00BFA6;
  margin:1rem 11rem;
  font-size: 4.5rem;
  font-style: oblique;
}

.box4{
    width: 300rem;
    height:100rem;
    background-color: rgb(53, 47, 47);
    color: white;
    margin: 0 1rem;
    display: flex;
}

.horizontal_line{
    rotate: 90deg;
    margin:-55rem 12rem;
   margin-top: -150rem;
}

.text5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    margin-left: 6rem;
}

.text6{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
   margin: 4rem 6rem;
    font-style: italic;
    position: static;
    width: 60rem;
    height: 60rem;
    /* background-color: white; */
}



.red-dot1{
   width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius:1rem;
  margin:-36rem 5.5rem;
}    

.red-dot2{
    width: 1rem;
    height: 1rem;
    background-color: red;
    border-radius: 1rem;
    margin:-8rem 0rem;
    
}

.red-dot3{
    width: 1rem;
    height: 1rem;
    background-color: red;
    border-radius: 1rem;
    margin:4rem -4.5rem;
    
}
.text7{
margin:-12rem 4rem;
  width: 37rem;
  font-size: 1.3rem;
}
.text8{
margin:12rem 4rem;
  width: 17rem;
  font-size: 1.3rem;
}
.text9{
   margin:0rem 0rem;
   width: 37rem
     font-size: 1.3rem;

}
.text10{
    margin:2rem 4.5rem;
  font-size: 1.3rem;
  width: 35rem;
}
.text12{
    margin:2rem 4.5rem;
  font-size: 1.3rem;
  width: 28rem;
}


.cv{
    border-color: red;
    border-radius: 1rem;
    text-decoration: none;
    background-color: rgb(53, 47, 47);
    color: white;
    padding: 1rem 2rem;
    margin: -30rem 98rem;
    /* position:fixed; */
}
.horn-line{
    margin:21rem -12rem;
  transform: rotate(90deg);
  height: 0rem;
  width: 36rem;
    
}
.resumeText{
    display: flex;
    position: sticky;
}

/* skills-section */
.skills{
    margin: 33rem -5rem;
    width: 30rem;
    position: static;
}

.horizontal-line-3{
     margin:21rem -12rem;
  transform: rotate(90deg);
  height: 0rem;
  width: 36rem;
}
