.container4{
    width: 100%;
    height: auto;
}
.project{
  margin: -57rem 4rem;
    font-size: 1.5rem;
    margin-bottom: 1rem ;
    color: white;
    overflow-y: auto;
    /* position: fixed; */
}

.horizontal-line-project{
   
margin: 0rem -4rem;
display: flex;
}

.box{
    width: 12rem;
    height: 16rem;
    color: white;
    margin: 5rem 2rem;
    background-color: black;
    transition: background-color 0s ease;
}

.box:hover{
    background: linear-gradient(90deg, #000000 0.5%, #ffffff 100%);
}
.plus{
    font-size: 1rem;
    padding: 4rem 4rem;
}
.delete{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: white;
    font-size: 4rem;
    cursor: pointer;
}

.project-container{
    display: flex;
}
.add-project-button {
  margin-left: auto; /* pushes it to the right IF inside a flex container */
}