.project-topic{
    
    margin: -113rem 15rem;
    width: 100%;
    height: 30rem;
    color: white;

}
.hr-project {
    border: 0;
    height: 2px;
    background: red; /* or any color you prefer */
    margin: 10px 0; /* adjust spacing as needed */
    width: 100%; /* or set a specific width */
}
