.container4{
    width: 100%;
    height: auto;
}
.project{
  margin: -57rem 4rem;
    font-size: 1.5rem;
    margin-bottom: 1rem ;
    color: white;
    overflow-y: scroll;
    /* position: fixed; */
}

.horizontal-line-project{
   
margin: 0rem -4rem;
display: flex;
}

.box{
    width: 12rem;
    height: 16rem;
    color: white;
    margin: 5rem 3rem;
    
    background: #2a2a2a;
  text-align: center;
  border: 1px solid red;
    transition: background-color 0s ease;
}

.box:hover{
  background: #1f1f1f;
}
#projectName{
    width: 1rem;
    text-align: center;
    font-size: 1rem;
    padding: 4rem 4rem;
}
.plus{
    font-size: 1rem;
    padding: 4rem 4rem;
}
.delete{
   position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  margin:
63rem 90rem;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 0rem;    
    text-align: center;
}
.add-project-button {
  margin-left: auto; /* pushes it to the right IF inside a flex container */
}